@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ysabeau Infant", sans-serif;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.97) inset;
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
}

main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.parentContainer {
  width: 95%;
  height: 95%;
  flex-shrink: 0;
  border-radius: .9rem;
  border: 3px solid #000;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#logo{
  position: absolute;
  width: 150px;
  height: auto;
  top: 3rem;
  left: 3rem;
}

#btn {
  background-color: #000;
  width: 10rem;
  transition: transform 0.2s ease, background-color 0.4s ease;
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 600;
}

#btn:hover {
  background-color: rgb(119, 119, 119);
  border: 2px solid black;
  transform: scale(1.07);
  font-weight: 800;
  color: #000;
}

#readerContainer {
  margin: 1rem;
  display: none;
  border: 4px solid #a1a0a0;
  border-radius: 0.625rem;
  padding: 0.7rem;
  background-color: #000;
  filter: drop-shadow("5px 5px 5px white");
}

#reader {
  width: 600px;
  background-color: white;
  border-radius: 0.625rem;
}

#result {
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  display: none;
  font-family: "Ysabeau Infant", sans-serif;
}

#success, #data{
  background-color: #fff;
}

#qrData {
  color: #0e2954;
}
